<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vanessa.e_vagas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_pap"
        android:label="E-Vagas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroVagaActivity"
            android:label="E-Vagas"></activity>
        <activity
            android:name=".CadastroActivity"
            android:label="E-Vagas"></activity>
        <activity
            android:name=".MainActivity"
            android:label="E-Vagas"></activity>
        <activity
            android:name=".DescVagaActivity"
            android:label="E-Vagas"></activity>
        <!--<activity-->
        <!--android:name=".LoginActivity"-->
        <!--android:label="Login">-->
        <!--</activity>-->
    </application>

</manifest>